/* #region GENERAL */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}
html{
    font-size: 10px;
    @media (max-width: 600px) {
        font-size: 8px;
    }
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
/* #endregion */

/* #region FONTS */
@font-face {
    font-family: 'Rye';
    src: url('./assets/fonts/Rye-Regular.ttf');
}
@font-face {
    font-family: 'Smokum';
    src: url('./assets/fonts/Smokum-Regular.ttf');
}
h1{
    font-family: 'Rye','sans-serif';
    font-size: min(60px, 64px);
    letter-spacing: 6px;
    color: rgb(255, 166, 0);
    text-shadow: 5px 2px 8px rgba(0,0,0,0.9);
    text-align: center;
}
/* #endregion */

/* #region BODY */
body{
    font-family: 'Smokum','sans-serif';
    background: url('./assets/icons/Comic2.png');
    background-repeat: no-repeat;
    backdrop-filter: saturate(30%); 
    background-size: cover;
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        min-height: calc(100dvh - 3dvh);
        #wrapper{
            width: 100%;
            max-width: 720px;
            height: 100%;
            max-height: 480px;
            canvas{
                background-color: black;
                display: block;
            }
            #audio-btn{
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                background: transparent;
                border: 0;
                cursor: pointer;
                img{
                    width: 5rem;
                }
            }
            button:hover{
                box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            }
            #startscreen{
                background-image: url('./assets/img/9_intro_outro_screens/start/startscreen_2.png');
                width: 100%;
                max-width: 720px;
                height: 100%;
                max-height: 480px;
                position: absolute;
                top: 0;
                left: 0;
                background-size: cover;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                button{
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                    img{
                        width: 12rem;
                    }
                    img:hover{
                        width: 13rem;
                    }
                    @media (max-width: 480px){
                        img{
                            width: 9rem;
                        }
                        img:hover{
                            width: 10rem;
                        }
                    }
                }
                button:hover{
                    box-shadow: none;
                }
                
                #btn-explanation{
                    position: absolute;
                    bottom: 0;
                    height: 5rem;
                    width: 100%;
                    font-size: 2.6rem;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    div{
                        display: flex;
                        align-items: center;
                        img{
                            height: 4.5rem;
                        }
                    }
                    @media (max-width: 480px){
                        font-size: 2.2rem;
                        justify-content: space-between;
                        div{
                            img{
                                height: 3rem;
                            }
                        }
                    }
                    @media (max-width: 380px){
                        font-size: 2rem;
                        div{
                            img{
                                height: 2.1rem;
                            }
                        }
                    }
                }
            }
            #loading-scr{
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column;
                padding: 10rem;
                gap: 5rem;
                background: url('./assets/img/5_background/first_half_background.png');
                background-size: cover;
                width: 100%;
                max-width: 720px;
                height: 100%;
                max-height: 480px;
                h2{
                    font-size: 40px;
                }
                p{
                    font-size: 24px;
                    background: rgba(255,255, 255, 0.7);
                }
                @media(max-width: 660px){
                    padding: 5rem;
                }
                @media (max-width: 470px){
                    gap: 3rem;
                    h2{
                        font-size: 30px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
                @media (max-width: 405px){
                    gap: 1.5rem;
                    padding: 2rem;
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
            #mobile-btn{
                position: absolute;
                bottom: 0;
                justify-content: space-between;
                width: 100%;
                height: 5rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                #run-key-panel{
                    #left-btn{
                        background: url('./assets/icons/left.png');
                        height: 5rem;
                        width: 5rem;
                        border: 1rem black;
                        border-radius: 50%;
                    }
                    #right-btn{
                        background: url('./assets/icons/right.png');
                        height: 5rem;
                        width: 5rem;
                        border: 1rem black;
                        border-radius: 50%;
                    }
                }
                #jump-throw-key-panel{
                    #jump-btn{
                        background: url('./assets/icons/up.png');
                        height: 5rem;
                        width: 5rem;
                        border: 1rem black;
                        border-radius: 50%;
                    }
                    #throw-btn{
                        background: url('./assets/icons/bottle.png');
                        height: 5rem;
                        width: 5rem;
                        border: 1rem black;
                        border-radius: 50%;
                    }
                }
            }
            #endscreen{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-width: 720px;
                height: 100%;
                max-height: 480px;
                background: radial-gradient(circle,rgba(252, 247, 247, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 8% 12%;
                img{
                    width:100% ;
                    /* height: 40%; */
                }
                div{
                    display: flex;
                    justify-content: center;
                    gap: 5rem;
                    button{
                        font-family: 'Smokum','sans-serif';
                        font-size: 2.6rem;
                        color: yellow;
                        background-color: #ffa700;
                        border-radius: 10px;
                        padding: 2px 8px;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
    
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        height: 3dvh;
        img{
            height: 100%;
        }
        @media only screen and (max-height: 480px){
            display: none;
        }
    }
}




@media only screen and (max-width: 720px){
    h1{
        display: none;
    }
    #wrapper{
        canvas{
            width: 100%;
        }
    }
}
@media only screen and (max-height: 480px){
    #wrapper{
        canvas{
            height: 100dvh;
        }
    }
}
